:root {
  --primary: rgba(28, 28, 28, 0.9);
  --primary-bg:  rgba(0, 0, 0, 0.8);
  --secondary: rgba(255 ,255, 255, 0.8);
  --border: rgba(128, 128, 128, 0.4);
  --color: rgba(255, 255, 255, 0.9);
  --bg-img : url("Images/projects-bg.png");
  --lightblue: rgba(0, 119, 255, 0.8);
}
.html-css {
  background-image: url('/Images/project-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.web-temp {
  background-image: url('/Images/web-template.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.web-clone {
  background-image: url('/Images/web-clone.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
  /* background-color: lemonchiffon; */
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 1fr; */
  /* gap: 50px 70px; */
  /* background-color: khaki; */
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}
.grid-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
  /* gap: 10px; */

}
.grid-2 {
  display: grid;
  /* grid-template-columns: 10% 90%; */
  grid-template-columns: 90% 10%;
  /* transition: all 2s ease-in-out; */
}
.grid-def {
  display: grid;

}
.h-border {
  /* border-bottom: 1px solid var(--border); */
  width: 100%;
  /* padding: 0 0 20px 0; */
  /* margin: 50px 0 30px 0; */
  /* border-right: 2px solid var(--color); */
  /* border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px; */
  /* background-color: burlywood; */

}
.fa-html5 {
  color: red;
}
.fa-css3 {
  color: blue;
}
.fa-js-square {
  color: green;
}
.fa-php {
  color: black;
}
.html5 {
  width: 90%;
}
.css3 {
  width: 90%;
}
.js {
  width: 65%;
}
.php {
  width: 55%;
}
/* ---| animation |------ */
.show-skill {
  display: inline-block;
}

/* -----| Skill Ul left / right |----- */
.fa-html5, .fa-css3, .fa-js-square, .fa-php {
  /* text-shadow: 7px 6px 2px var(--border); */
}
